<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio 2022</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>

</head>
<body class="body">
    <header class="home__header">
         <a href="#"><h3>freelance portfolio</h3></a>
        <button>
            menu <i class="fa-solid fa-bars"></i>
        </button>
        <nav class="header--nav">
            <ul>
                <li>
                    <a href="#portfolio">portfolio</a>
                    <hr>
                </li>
                <li>
                    <a href="#about">about</a>
                    <hr>
                </li>
                <li>
                    <a href="#contact">contact</a>
                    <hr>
                </li>
            </ul>
        </nav>
     
    </header>
    <main class="home">
        <section class="home__data">
            <figure>
                <img src="/img/profile.png" alt="Img-user">
            </figure>
            <h1>freelance <span>portfolio</span></h1>
            <div class="home__data--star">
                <hr>
                <h4><i class="fa-solid fa-star"></i></h4>                
                <hr>
            </div>
                <p>Web Developer - Graphic Artist - User Experience Designer</p>
        </section>
        <section class="home__profile" id="portfolio">
            <h2>portfolio</h2>
            <div class="home__profile--star">
                <hr>
                <h4><i class="fa-solid fa-star"></i></h4>
                <hr>
            </div>
            <div class="profile--imgs">
                <figure>
                    <img src="/img/cabin.png" alt="Img-cabin">
                </figure>
                <figure>
                    <img src="/img/cake.png" alt="Img-cake">
                </figure>
                <figure>
                    <img src="/img/circus.png" alt="Img-circus">
                </figure>
                <figure>
                    <img src="/img/game.png" alt="Img-game">
                </figure>
                <figure>
                    <img src="/img/safe.png" alt="Img-safe">
                </figure>
                <figure>
                    <img src="/img/submarine.png" alt="Img-">
                </figure>
            </div>
         
        </section>
        <section class="home__about" id="about">
            <h2>about</h2>
            <div class="home__about--star">
                <hr>
                <h4><i class="fa-solid fa-star"></i></h4>
                <hr>
            </div>
            <article>
                <p>Freelance is a free landing page theme created for free use. The download includes the complete source files including HTML, CSS, and JavaScript as weel as optional SASS stylesheets for easy customization</p>
                <p>Whether you're a student looking to showcase your work, a professional looking to attact clients, or a graphic artist looking to share your projects, this template is the perferct starting point!</p>
            </article>
           <a href=""><i class="fa-solid fa-download"></i>Download Now!</a>
        </section>
        <section class="home__contact" id="contact">
            <h2>contact me</h2>
            <div class="home__contact--star">
                <hr>
                <h4><i class="fa-solid fa-star"></i></h4>
                <hr>
            </div>
            <form action="">
                <div class="home__contact--forms">
                    <label for="">Name</label>
                    <input class="">
                </div>
                <div class="home__contact--forms">
                    <label for="">Email Address</label>
                    <input class="">
                </div>
                <div class="home__contact--forms">
                    <label for="">Phone Number</label>
                    <input class="">
                </div>
                <div class="home__contact--forms">
                    <label for="">Message</label>
                    <textarea class=""></textarea>
                </div>
                <div class="">
                    <div class="home_contact-buttoncontainer">
                    <button class="home__contact--button">Send</button>
                </div>
            </form>
        </section>
    </main>
    <footer class="footer">
        <section class="footer--section">
            <article class="footer--location">
                <h3>location</h3>
                <p>2215 Jhon Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </article>
            <article class="footer--redes">
                <h3>around the web</h3>
                <div class="footer--redesconteiner">
                <div class="footer--acontainer">
                    <a href=""><i class="fa-brands fa-facebook-f"></i></a></div>
                    <div class="footer--acontainer">                    <a href=""><i class="fa-brands fa-google-plus-g"></i></a></div>
                    <div class="footer--acontainer">
                    <a href=""><i class="fa-brands fa-twitter"></i></a></div>
                    <div class="footer--acontainer">
                    <a href=""><i class="fa-brands fa-linkedin-in"></i></a></div>
                    <div class="footer--acontainer">
                    <a href=""><i class="fa-solid fa-basketball"></i>  </a> </div>
                </div>
            </div>
            </article>
            <article class="footer-description">
                <h3>about freelancer</h3>
                <p>Freelance is free and open souce landing page theme created to <span>your free personal use</span>.</p>
            </article>
        </section>
        <section class="footer--copyright">
            <p >Copyright<i class="fa fa-copyright"></i> Your Website 2023</p>
        </section>
       
    </footer>

     <a class="home__buttom--up" href="#"><i class="fas fa-chevron-up fa-lg"></i></a>

    <script src="/js/home.js"></script>
</body>
</html>